@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@inherits LayoutComponentBase
@layout MainLayout

@inject ICurrentUser CurrentUser

@if (CurrentUser.IsAuthenticated)
{
    @Body
}
else
{
    <div>You are not authenticated to view this page</div>
}



